<div class="flex flex-col w-11/12 pl-14">
	<div class="flex flex-col gap-2 items-center justify-center">
		<img class="w-13" src="/assets/coffee.png" alt="Imagem ilustrativa de uma xicara de café">
		<h1 class="text-3xl font-semibold text-dark-brown">
			<%= pageTitle %>
		</h1>
	</div>
</div>
