<div class="mt-10">
	<%- include("headers/detailsHeader.ejs", { pageTitle: "Listagem de Clientes" }) %>
</div>
<div class="flex flex-col w-full gap-8 mt-7 mb-12 px-32">
	<div class="flex justify-between items-center">
		<h1 class="font-semibold text-[16px]">Clientes (1)</h1>
		<a href="/clients/register"
			class="flex items-center gap-1 px-4 py-1 bg-brown text-white rounded hover:bg-dark-brown text-[14px] h-8">
			<span class="material-symbols-outlined text-[18px]">add</span>
			<span class="font-semibold">Adicionar</span>
		</a>
	</div>
	<table class="min-w-full border-none rounded-lg overflow-hidden shadow-md">
		<thead class="bg-dark-brown text-white text-sm uppercase">
			<tr>
				<th class="px-6 py-3 text-left font-semibold">ID</th>
				<th class="px-6 py-3 text-left font-semibold">Nome</th>
				<th class="px-6 py-3 text-left font-semibold">Email</th>
				<th class="px-6 py-3 text-left font-semibold">Ações</th>
			</tr>
		</thead>
		<tbody class="divide-y divide-light-brown bg-lighter-brown text-sm text-gray-2">
			<tr>
				<td class="px-6 py-3 font-medium text-gray-2">1</td>
				<td class="px-6 py-3">José da Silva</td>
				<td class="px-6 py-3">jose123@hotmail.com</td>
				<td class="px-6 py-3">
					<div class="flex gap-2">
						<a href="/clients/id" class="hover:text-gray flex justify-center items-center">
							<span class="material-symbols-outlined text-base">visibility</span>
						</a>
						<a href="/cards/delete/id" class="hover:text-gray flex justify-center items-center delete-btn">
							<span class="material-symbols-outlined text-base">delete</span>
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script src="/scripts/deleteSubmit.mjs"></script>
