<div class="mt-10">
    <%- include("pageHeader.ejs", { pageTitle: "Listagem de Clientes" }) %>
</div>
<div class="flex flex-col w-full gap-8 mt-7 mb-12 px-32">
    <div class="flex justify-between items-center">
        <h1 class="font-semibold text-[16px]">Clientes (1)</h1>
        <a href="/clients/register" class="flex items-center gap-1 px-4 py-1 bg-brown text-white rounded hover:bg-dark-brown text-[14px] h-8">
            <span class="material-symbols-outlined text-[18px]">add</span>
            <span class="font-semibold">Adicionar</span>
        </a>
    </div>
    <table class="w-full border-separate">
        <thead>
            <tr class="bg-dark-brown text-white text-center">
            <th class="px-4 py-2 rounded-l-xl font-semibold text-[14px]">id</th>
            <th class="px-4 py-2 font-semibold text-[14px]">Nome</th>
            <th class="px-4 py-2 font-semibold text-[14px]">Email</th>
            <th class="px-4 py-2 rounded-r-xl font-semibold"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-lighter-brown h-8 border border-dark-brown text-center align-middle">
                <td class="px-4 py-2 border-r border-dark-brown rounded-l-xl text-[13px]">1</td>
                <td class="px-4 py-2 border-r border-dark-brown text-[13px]">José da Silva</td>
                <td class="px-4 py-2 border-r border-dark-brown text-[13px]">jose123@hotmail.com</td>
                <td class="px-4 py-2 rounded-r-xl flex gap-2 justify-center">
                    <a href="/clients/id" class="hover:text-gray flex justify-center items-center text-[16px] h-6 w-6">
                        <span class="material-symbols-outlined text-[16px]">visibility</span>
                    </a>
                    <a href="/cards/id/edit" class="hover:text-gray flex justify-center items-center delete-btn text-[16px] h-6 w-6">
                        <span class="material-symbols-outlined text-[16px]">delete</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/scripts/deleteSubmit.js"></script>
