<form class="flex flex-col w-full gap-10 mt-9 mb-10 px-32" id="update-password-form">
    <div class="flex flex-col gap-5">
        <h1 class="font-semibold text-[20px]">Alterar Senha</h1>
        <div class="flex flex-row gap-10">
            <div class="flex flex-col w-full gap-4">
                <label class="flex flex-col text-[12px] gap-3">
                    Senha Atual *
                    <input placeholder="Digite sua senha atual" class="border rounded-[5px] border-gray h-10 p-2.5 w-full"
                        type="password" name="current-password" id="current-password" required>
                </label>
                <label class="flex flex-col text-[12px] gap-3">
                    Nova Senha *
                    <input placeholder="Digite sua nova senha" class="border rounded-[5px] border-gray h-10 p-2.5 w-full"
                        type="password" name="new-password" id="new-password" required>
                </label>
                <label class="flex flex-col text-[12px] gap-3">
                    Confirmar Nova Senha *
                    <input placeholder="Confirme sua nova senha" class="border rounded-[5px] border-gray h-10 p-2.5 w-full"
                        type="password" name="confirm-new-password" id="confirm-new-password" required>
                </label>
            </div>
        </div>
        <div class="flex justify-end">
            <button type="submit" class="font-medium text-sm text-white bg-light-green w-[150px] h-10 rounded-[5px] cursor-pointer hover:bg-dark-green flex items-center justify-center" id="submit-update-password">
                Salvar
            </button>
        </div>
    </div>
</form>
<script type="module" src="/scripts/password/index.mjs"></script>
