<footer class="fixed-bottom footer">
	<div class="delimiter"></div>

	<div class="row p-5">
		<div class="col">
			<h4 class="fw-bold cozyshelf-title">Cozy Shelf</h4>
		</div>

		<div class="col">
			<ul class="nav flex-column cozyshelf-list">
				<li class="nav-item">
					<a class="nav-link header-link active" href="#">Home</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link header-link" href="#">Livros</a>
				</li>
			</ul>
		</div>

		<div class="col">
			<ul class="nav flex-column cozyshelf-list">
				<li class="nav-item">
					<a class="nav-link header-link" href="#">Sobre</a>
				</li>
				<li class="nav-item">
					<a class="nav-link header-link" aria-disabled="true" tabindex="-1" role="button">Cadastre-se</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
