<header class="d-flex align-items-center justify-content-between header">
	<div class="col-4 d-flex justify-content-start align-items-center">
		<img class="img-fluid header-mascot-img" src="/assets/mingau-full.png" alt="imagem ilustrativa do mascote mingau">
		<h1 class="cozyshelf-title ms-2">Cozy Shelf</h1>
	</div>

	<div class="col-4">
		<ul class="nav cozyshelf-list">
			<li class="nav-item">
				<a class="nav-link active" href="#">Home</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">Livros</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Sobre</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" aria-disabled="true" tabindex="-1" role="button">Cadastre-se</a>
			</li>
		</ul>
	</div>

	<div class="col-4 d-flex justify-content-end">
		<ul class="nav cozyshelf-list">
			<li class="nav-item">
				<a class="nav-link active" href="#">
					<span class="bi bi-search header-icon"></span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span class="bi bi-cart header-icon"></span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span class="bi bi-person header-icon"></span>
				</a>
			</li>
		</ul>
	</div>
</header>
