<header class="w-full flex flex-row justify-between bg-lighter-brown pl-5 pr-10">
	<div class="flex flex-row justify-start items-center gap-2.5">
		<img class="w-20" src="/assets/mingau-full.png" alt="Imagem do mascote mingau">
		<h1 class="font-bold text-light-title text-[20px]">Cozy Shelf</h1>
	</div>

	<div class="flex justify-center items-center">
		<ul class="flex flex-row gap-5 font-medium text-light-title">
			<li>
				<a class="hover:text-light-brown" href="#">Home</a>
			</li>
			<li>
				<a class="hover:text-light-brown" href="#">Livros</a>
			</li>
			<li>
				<a class="hover:text-light-brown" href="#">Sobre</a>
			</li>
			<li>
				<a class="hover:text-light-brown" href="#" aria-disabled="true" tabindex="-1" role="button">Cadastre-se</a>
			</li>
		</ul>
	</div>

	<div class="flex justify-center items-center">
		<ul class="flex flex-row gap-5 text-light-title">
			<li>
				<a class="hover:text-light-brown" href="#">
					<span class="material-symbols-outlined">
						search
					</span>
				</a>
			</li>
			<li>
				<a class="hover:text-light-brown" href="#">
					<span class="material-symbols-outlined">
						shopping_cart
					</span>
				</a>
			</li>
			<li>
				<a class="hover:text-light-brown" href="#">
					<span class="material-symbols-outlined">
						person
					</span>
				</a>
			</li>
		</ul>
	</div>
</header>
