<div class="flex flex-col w-full gap-10 mt-9 mb-15 px-32">
	<div class="flex justify-between items-center">
		<h1 class="font-semibold text-[20px]">Endereços (1)</h1>
		<a href="/addresses/new" class="flex items-center gap-2 px-4 py-1.5 bg-brown text-white rounded hover:bg-dark-brown text-sm">
			<span class="material-symbols-outlined text-base">add</span>
			<span class="font-semibold">Adicionar</span>
		</a>
	</div>
	<table class="w-full border-separate text-sm">
		<thead>
			<tr class="bg-dark-brown text-white text-center">
				<th class="px-4 py-2 rounded-l-xl font-semibold">Frase curta</th>
				<th class="px-4 py-2 font-semibold">Endereço</th>
				<th class="px-4 py-2 font-semibold">Tipo de Endereço</th>
				<th class="px-4 py-2 rounded-r-xl font-semibold"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-lighter-brown h-8 border border-dark-brown text-center align-middle">
				<td class="px-4 py-2 border-r border-dark-brown rounded-l-xl">Minha Casa</td>
				<td class="px-4 py-2 border-r border-dark-brown">Rua das Flores, 123</td>
				<td class="px-4 py-2 border-r border-dark-brown">
					<span class="bg-dark-green text-white px-2 py-0.5 rounded-full text-xs">
						Entrega e Cobrança
					</span>
				</td>
				<td class="px-4 py-2 rounded-r-xl flex gap-2 justify-center">
					<a href="/addresses/id" class="hover:text-gray flex justify-center items-center">
						<span class="material-symbols-outlined text-base">visibility</span>
					</a>
					<a href="/addresses/id/edit" class="hover:text-gray flex justify-center items-center delete-btn">
						<span class="material-symbols-outlined text-base">delete</span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script src="/scripts/deleteSubmit.js"></script>
