<div class="flex flex-col w-full gap-10 mt-9 mb-15 px-32">
	<div class="flex justify-between items-center">
		<h1 class="font-semibold text-[20px]">Endereços (1)</h1>
		<a href="/addresses/new" class="flex items-center gap-2 px-4 py-1.5 bg-brown text-white rounded hover:bg-dark-brown text-sm">
			<span class="material-symbols-outlined text-base">add</span>
			<span class="font-semibold">Adicionar</span>
		</a>
	</div>
	<table class="min-w-full border-none rounded-lg overflow-hidden shadow-md">
		<thead class="bg-dark-brown text-white text-sm uppercase">
			<tr>
				<th class="px-6 py-3 text-left font-semibold">Frase curta</th>
				<th class="px-6 py-3 text-left font-semibold">Endereço</th>
				<th class="px-6 py-3 text-left font-semibold">Tipo de Endereço</th>
				<th class="px-6 py-3 text-left font-semibold">Ações</th>
			</tr>
		</thead>
		<tbody class="divide-y divide-lighter-brown text-sm text-gray-2">
			<tr>
				<td class="px-6 py-3 font-medium text-gray-2">Minha Casa</td>
				<td class="px-6 py-3">Rua das Flores, 123</td>
				<td class="px-6 py-3">
					<span class="bg-dark-green text-white px-2 py-0.5 rounded-full text-xs">
						Entrega e Cobrança
					</span>
				</td>
				<td class="px-6 py-3 flex gap-2">
					<a href="/addresses/id" class="hover:text-gray flex justify-center items-center">
						<span class="material-symbols-outlined text-base">visibility</span>
					</a>
					<a href="/addresses/delete/id" class="hover:text-gray flex justify-center items-center delete-btn">
						<span class="material-symbols-outlined text-base">delete</span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script src="/scripts/deleteSubmit.mjs"></script>
