@import "tailwindcss";

@theme {
	/* Font */
	--font-default: Poppins;

	/* Colors */
	--color-lighter-brown: #F5ECE1;
	--color-light-brown: #D6AE7C;
	--color-light-title: #B55926;
	--color-brown: #863C13;
	--color-gray: #9F9F9F;
}
