<button onclick="history.back()"
	class="absolute top-0 left-15 flex items-center gap-2 text-gray-2 hover:text-light-brown transition-all hover:scale-105 cursor-pointer">
	<span class="material-symbols-outlined">
		arrow_back
	</span>
	Voltar
</button>
