<button
    id="<%= buttonId %>"
    type="button"
    class="hidden text-bold text-3xl w-10 h-10 bg-red-600 text-white rounded-[5px] cursor-pointer hover:bg-red-800"
>
    <span class="material-symbols-outlined">
        delete
    </span>
</button>