<label class="relative inline-flex items-center cursor-pointer">
	<input type="hidden" name=<%=toggleName %> value="false">
	<input type="checkbox" name=<%=toggleName %> class="sr-only peer" value="true" id="<%= toggleName %>"
		<% if (isChecked) { %>checked<% } %>>
				<div class="w-11 h-6 bg-gray-300 peer-focus:outline-none rounded-full peer-checked:bg-brown transition-all">
				</div>
				<span
					class="absolute top-1/2 left-1 w-4 h-4 bg-white rounded-full transition-transform -translate-y-1/2 peer-checked:translate-x-5"></span>
				<span class="ml-3 text-sm font-medium text-gray-900">
					<%= toggleMessage %>
				</span>
</label>
